# Control Flow â€“ For

In [3]:
for i in range(10):
    print(i, end=' ')
    
print()

0 1 2 3 4 5 6 7 8 9

In [4]:
n = 10
for i in range(n):
    print(' '*(n-i-1) + '*'*(i*2-1))

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [5]:
id_name_map = {
    'key1': 'value 1',
    'key2': 'value 2'
}

# for ... in <any iterable object>:
# iterable objects: str, list, tuple, range, set, dict, etc.
for id_ in id_name_map:
    print(id_)

key1
key2

In [6]:
for id_, name in id_name_map.items():
    print(f'{id_}: {name}')

key1: value 1
key2: value 2

In [7]:
# https://docs.python.org/3/library/functions.html#zip
for i, c in zip(range(3), 'abc'):
    print(i, c)

0 a
1 b
2 c

In [8]:
# https://docs.python.org/3/library/functions.html#enumerate
for i, c in enumerate('abc'):
    print(i, c)

0 a
1 b
2 c

In [9]:
for i, c in enumerate('abc', start=10):
    print(i, c)

10 a
11 b
12 c

In [10]:
# https://en.wikipedia.org/wiki/Prime_number
for n in range(2, 10):
    for i in range(2, n):
        if n % i == 0:
            # break the whole loop
            break
    else:  # loop ... else!
        print(n, 'is a prime.')

2 is a prime.
3 is a prime.
5 is a prime.
7 is a prime.

In [13]:
id_task_succeed_map = {
    'task 1': False,
    'task 2': True,
    'task 3': True,
}

for id_, task_succeed in id_task_succeed_map.items():
    
    if task_succeed:
        # continue to the next iteration
        continue
        
    print(f'Retry task for {id_}.')

Retry task for task 1.

In [14]:
# pass DOES nothing
for i in range(10):
    pass

In [15]:
health_dicts = [
    {'height_cm': 152, 'weight_kg': 48, 'age': 63, 'male_yn': 1},
    {'height_cm': 157, 'weight_kg': 53, 'age': 41, 'male_yn': 1},
    {'height_cm': 140, 'weight_kg': 37, 'age': 63, 'male_yn': 0},
    {'height_cm': 137, 'weight_kg': 32, 'age': 65, 'male_yn': 0},
]

# s: sum of heights in cm
s = 0
for d in health_dicts:
    s += d['height_cm']
    
# a: average height in cm
a = s/len(health_dicts)
    
print(f'Average height (cm): {a:.2f}')

Average height (cm): 146.50

## Workshop :: Multiplication table

In [17]:
def main():
    table = []
    # table = [[i * j for j in range(1, 11)] for i in range(1, 11)]
    for i in range(1, 11):
        row = []
        for j in range(1, 11):
            row.append(i * j)
        table.append(row)

    for row in table:
        print(" ".join(f"{number:3}" for number in row))


if __name__ == "__main__":
    main()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100